# Hypothesis Testing Q2

 A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
 Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

# 1 - Business Problem
Is there a significant difference in the average Turn Around Time between laboratories ?

# 2 - Data description
α == 0.05 (95% Confidence)

Y == Continious
X == Discrete

Is Y1, Y2, Y3 and Y4 normal ?

H0 = Y1, Y2, Y3 and Y4 are normal
H1 = Y1, Y2, Y3 and Y4 are not normal

# 3. Import Libs/Data

In [2]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [4]:
labTaT_data = pd.read_csv('LabTAT.csv')
labTaT_data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

# 4 - Variance
    H0 == Variance of all 4 laboratories are the same 
    H1 == Variance of all 4 laboratories are the not same

In [6]:
stats.levene(labTaT_data["Laboratory 1"], labTaT_data["Laboratory 2"], labTaT_data["Laboratory 3"], labTaT_data["Laboratory 4"])

LeveneResult(statistic=2.599642500418024, pvalue=0.05161343808309816)

#### pvalue of variance is 0.051 > α
#### so Ho is accepted

# 5. Model (Anova Test)

 H0 == Mean TAT for 4 laboratories equal (There is no significance difference between TAT of the laboratories)

H1 == Mean TAT for 4 laboratories not equal (There is a significance difference between TAT of the laboratories)

In [9]:
stats.f_oneway(labTaT_data["Laboratory 1"], labTaT_data["Laboratory 2"], labTaT_data["Laboratory 3"], labTaT_data["Laboratory 4"])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

#### P value of the One way Anova test is == 2.1156708949992414e-57 < α

# Thus H1 is accepted.
#### Mean TAT for 4 laboratories not equal (There is a significance difference between TAT of the laboratories)